<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ekeko.projectModelFactory" name="ekeko.projectModelFactory" schema="schema/ekeko.projectModelFactory.exsd"/>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Ekeko Commands Category"
            id="damp.ekeko.commands.category">
      </category>
      <command
            name="Start Ekeko-hosted nREPL"
            categoryId="damp.ekeko.commands.category"
            id="damp.ekeko.commands.startREPL">
      </command>
      <command
            name="Stop Ekeko-hosted nREPL"
            categoryId="damp.ekeko.commands.category"
            id="damp.ekeko.commands.stopREPL">
      </command>
      
      <command
            categoryId="damp.ekeko.commands.category"
            id="damp.ekeko.commands.enableNatureOnAll"
            name="Include all Projects in Queries">
      </command>
      <command
            categoryId="damp.ekeko.commands.category"
            id="damp.ekeko.commands.disableNatureOnAll"
            name="Exclude all Projects from Queries">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="damp.ekeko.commands.startREPL"
            class="damp.ekeko.REPLStartHandler">
         <enabledWhen>
            <with
                  variable="damp.ekeko.services.REPLRunning">
               <equals
                     value="false">
               </equals>
            </with></enabledWhen>
      </handler>
      <handler
            class="damp.ekeko.EnableNatureOnAllHandler"
            commandId="damp.ekeko.commands.enableNatureOnAll">
      </handler>
      <handler
            class="damp.ekeko.DisableNatureOnAllHandler"
            commandId="damp.ekeko.commands.disableNatureOnAll">
      </handler>
      <handler
            class="damp.ekeko.REPLStopHandler"
            commandId="damp.ekeko.commands.stopREPL">
         <enabledWhen>
            <with
                  variable="damp.ekeko.services.REPLRunning">
               <equals
                     value="true">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Ekeko"
               mnemonic="EK"
               id="damp.ekeko.menus.ekekoMenu">
            <command
                  commandId="damp.ekeko.commands.startREPL"
                  label="Start nREPL"
                  tooltip="Start Ekeko-hosted nREPL server">
            </command>
            <command
                  commandId="damp.ekeko.commands.stopREPL"
                  label="Stop nREPL"
                  tooltip="Stop Ekeko-hosted nREPL server">
            </command>
            <command
                  commandId="damp.ekeko.commands.enableNatureOnAll"
                  label="Include all Projects in Queries"
                  tooltip="Includes all Open Projects in Ekeko Queries">
            </command>
            <command
                  commandId="damp.ekeko.commands.disableNatureOnAll"
                  label="Exclude all Projects from Queries"
                  tooltip="Excludes all Open Projects from Ekeko Queries">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:BaristaUI.TreeResultsMenu">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="baristaui.menus.ResultMarkerPopup"
            locationURI="popup:#AbstractTextEditorRulerContext?after=additions">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="EkekoBaristaUI"
            name="EkekoBarista">
      </category>
      <view
            allowMultiple="true"
            category="EkekoBarista"
            class="baristaui.views.queryResult.QueryView"
            id="ekeko.BaristaUI.queryResults"
            name="Ekeko Query Results"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            category="InspectorJay"
            class="damp.ekeko.inspector.JPanelView"
            id="damp.ekeko.inspector.JPanelView"
            name="Inspector Jay"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="EkekoPlugin.addNatureIProjectContribution"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="damp.ekeko.ToggleEkekoNatureAction"
               icon="icons/ekeko16.png"
               id="EkekoPlugin.AddNatureAction"
               label="Include in Ekeko Queries"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
          </action>
       <visibility>
          <not><objectState name="nature" value="damp.ekeko.plugin.ekekoNature" /></not>
       </visibility>
      </objectContribution>
      
       <objectContribution
            adaptable="true"
            id="EkekoPlugin.removeNatureIProjectContribution"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="damp.ekeko.ToggleEkekoNatureAction"
               icon="icons/ekeko16.png"
               id="EkekoPlugin.RemoveNatureAction"
               label="Exclude from Ekeko Queries"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
       <visibility>
          <objectState name="nature" value="damp.ekeko.plugin.ekekoNature" />
       </visibility>
      </objectContribution>
      
      <!--
            Note: if these object contributions are ever changed, don't forget
            to start Eclipse with a -clean on the test workspace. Otherwise,
            lots of headbanging will ensue.
      -->
      
      <objectContribution
            adaptable="true"
            id="EkekoPlugin.removeSootNatureIProjectContribution"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="damp.ekeko.soot.ToggleSootNatureAction"
               id="EkekoPlugin.RemoveSootNatureAction"
               label="Disable Ekeko Soot Analyses"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
       <visibility>
          	<objectState name="nature" value="damp.ekeko.plugin.sootNature" />
	   </visibility>
      </objectContribution>


      <objectContribution
            adaptable="true"
            id="EkekoPlugin.addSootNatureIProjectContribution"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="damp.ekeko.soot.ToggleSootNatureAction"
               id="EkekoPlugin.AddSootNatureAction"
               label="Enable Ekeko Soot Analyses"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
          </action>
       <visibility>
			<and>
				<objectState name="nature" value="damp.ekeko.plugin.ekekoNature" />
          		<not><objectState name="nature" value="damp.ekeko.plugin.sootNature" /></not>
			</and>
       </visibility>
      </objectContribution>
      
      
       <objectContribution
             adaptable="false"
             id="BaristaUI.popUp"
             objectClass="baristaui.views.queryResult.tree.TreeResultContentProvider$Node">
          <action
                class="baristaui.actions.OpenNodeInEditor"
                enablesFor="1"
                icon="icons/ekeko16.png"
                id="BaristaUI.openInEditor"
                label="Find node in Editor"
                menubarPath="popup:BaristaUI.TreeResultsMenu">
          </action>
          <action
                class="baristaui.actions.InspectAction"
                enablesFor="1"
                icon="icons/ekeko16.png"
                id="BaristaUI.inspect"
                label="Inspect"
                menubarPath="popup:BaristaUI.TreeResultsMenu">
          </action>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="BaristaUI.markerPopup"
             objectClass="org.eclipse.core.resources.IMarker">
       </objectContribution>
      
   </extension>
   
   <extension
         point="ekeko.projectModelFactory">
      <contributedFactory factory="damp.ekeko.soot.SootProjectModelFactory">
      </contributedFactory>
   </extension>
   
<extension
      id="damp.ekeko.plugin.sootNature"
      name="Ekeko Soot Project Nature"
      point="org.eclipse.core.resources.natures">
   <runtime>
      <run
            class="damp.ekeko.soot.SootNature">
      </run>
   </runtime>
   <requires-nature
         id="damp.ekeko.plugin.ekekoNature">
   </requires-nature>
   <requires-nature
         id="org.eclipse.jdt.core.javanature">
   </requires-nature>
</extension>

   
   <extension
         id="damp.ekeko.plugin.ekekoNature"
         name="Ekeko Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="damp.ekeko.EkekoNature">
         </run>
      </runtime>
      <builder
            id="damp.ekeko.plugin.ekekoBuilder">
      </builder>
      <!-- <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature> -->
   </extension>
   <extension
         id="ekekoBuilder"
         name="Ekeko Java Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="damp.ekeko.EkekoBuilder">
         </run></builder>
   </extension>
   <extension
         id="BaristaUI.EkekoResultBinding"
         name="BaristaUI.EkekoResultBinding"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <attribute
            name="BaristaUI.OtherBindings">
      </attribute>
      <attribute
            name="BaristaUI.Binding">
      </attribute>
      <attribute
            name="BaristaUI.Query">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            icon="icons/ekeko16.png"
            id="BaristaUI.EkekoResultBindingImage"
            markertype="org.eclipse.core.resources.marker">
      </imageprovider>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
     
	<decorator   id="damp.ekeko.projectdecorator"   
			label="Ekeko Project Decorator"   
			state="true"   
			class= "damp.ekeko.EkekoProjectDecorator"   
			adaptable="true"   
			lightweight="true">   
		<enablement>
			<objectClass name="org.eclipse.core.resources.IProject"/>   
		</enablement>  
	</decorator>
     
     
     
   </extension>
  
   
<extension point="org.eclipse.ui.propertyPages"> 
    <page 
        id="damp.ekeko.IJavaProjectPropertyPage" 
        name="Ekeko Properties" 
        class="damp.ekeko.EkekoProjectPropertyPage" 
        > 
        <enabledWhen>
            <instanceof
                value="org.eclipse.jdt.core.IJavaProject">
            </instanceof>
        </enabledWhen>
    </page>
    <page 
        id="com.example.FilePropertyPage" 
        name="Ekeko Properties" 
        class="damp.ekeko.EkekoProjectPropertyPage" 
        > 
        <enabledWhen>
            <instanceof
                value="org.eclipse.core.resources.IProject">
            </instanceof>
        </enabledWhen>
    </page>
</extension>
<extension
      id="ekekoproblemmarker"
      name="ekekoproblemmarker"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <attribute name="ekekoKind"/>
      <attribute name="astnode"/>
      <persistent value="false"/>
</extension>

<extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="damp.ekeko.plugin.ekekoproblemmarker"
         class="damp.ekeko.EkekoProblemFixer"/>
   </extension>

<extension point="org.eclipse.ui.services">
   <sourceProvider
         provider="damp.ekeko.gui.EkekoSourceProvider">
      <variable
            name="damp.ekeko.services.REPLRunning"
            priorityLevel="workbench">
      </variable>
   </sourceProvider>
</extension>

</plugin>
